<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Gocent.DotNet.Nuget" value="http://192.168.0.52:8888/nuget" />
    <add key="Gocent.Java.Nuget" value="http://192.168.0.15:8081/repository/nuget-hosted/" />
  </packageSources>
</configuration>