<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Gocent.Nuget.Public" value="http://dev.gocent.com.cn:8081/repository/nuget-hosted/"  allowInsecureConnections="true"  />
		<add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
	</packageSources>
</configuration>