<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DCSoft.Writer.WinFormDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="XDesigner.Writer.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <DCSoft.Writer.WinFormDemo.Properties.Settings>
            <setting name="WriterRegisterCode" serializeAs="String">
                <value>03708C034804000000001B000000E983BDE6988CE4BFA1E681AFE58685E983A8E6B58BE8AF95E78988CE3500004D751B000000E983BDE6988CE4BFA1E681AFE58685E983A8E6B58BE8AF95E789880F0000001C0090536205</value>
            </setting>
            <setting name="TimeLineRegisterCode" serializeAs="String">
                <value>03708C034804000000001B000000E983BDE6988CE4BFA1E681AFE58685E983A8E6B58BE8AF95E78988CE3500004D751B000000E983BDE6988CE4BFA1E681AFE58685E983A8E6B58BE8AF95E789880F0000001C0090536205</value>
            </setting>
            <setting name="FriedmanCurveRegisterCode" serializeAs="String">
                <value>03C98C034804000000003D000000E58D97E4BAACE983BDE6988CE4BFA1E681AFE7A791E68A80E69C89E99990E585ACE58FB832303137E5B9B4E5BAA6E6B58BE8AF95E78988E68E88E69D8337360000AC7C3D000000E58D97E4BAACE983BDE6988CE4BFA1E681AFE7A791E68A80E69C89E99990E585ACE58FB832303137E5B9B4E5BAA6E6B58BE8AF95E78988E68E88E69D830F0000003C00D1679ABB</value>
            </setting>
        </DCSoft.Writer.WinFormDemo.Properties.Settings>
        <XDesigner.Writer.Test.Properties.Settings>
            <setting name="WriterRegisterCode" serializeAs="String">
                <value/>
            </setting>
        </XDesigner.Writer.Test.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4"/>
    </switches>
  </system.diagnostics>

</configuration>
